<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yescorp.com.tuixiangzi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jackytallow.com.GameBox.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jackytallow.com.GameBox.GameIntroActivity"
            android:label="@string/game_intro_title" />
        <activity android:name="jackytallow.com.GameBox.GameLevelActivity"
            android:theme="@android:style/Theme.Holo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="jackytallow.com.GameBox.GameActivity"
            android:theme="@android:style/Theme.Holo"
            android:screenOrientation="portrait"/>
    </application>

</manifest>